.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    max-width: 100%; 
    align-items: center;
    justify-content: center;
    padding: 25px
    
}

.container img{ 
    object-fit: contain;
}
